$defaultfontfamily: 'GeneralSans-Regular';
$secondaryfontfamily: 'Inter', sans-serif;

$fontGeneralsans200: 'GeneralSans-Extralight';
$fontGeneralsans300: 'GeneralSans-Light';
$fontGeneralsans400: 'GeneralSans-Regular';
$fontGeneralsans500: 'GeneralSans-Medium';
$fontGeneralsans600: 'GeneralSans-Semibold';
$fontGeneralsans700: 'GeneralSans-Bold';
$white: #ffffff;
$black: #000000;
$primary: #022859;
$primaryrgba: 2, 40, 89;
$primary100: #365987;
$bluegray: #8093AC;
$light: #F4F4F6;
$light500: #D9D9D9;
$light600: #E8E8E8;
$light700: #CED4DC;
$light800: #E9E9EA;
$light900: #F2F8FF;
$info: #1E6AFF;
$danger100: #FB2F2F;
$danger500: #FF4B4B;
$black700: #070707;
$success: #44CF6B;
$gray400: #9CA4AE;
$gray500: #B4B4B4;
$gray600: #7C7C7C;
$gray700: #E4E4E4;
$gray800: #5F5F5F;
$gray900: #8C8C8C;
$dark: #1E1F20;
$dark100: #2C2C2C;
$lightseagreen500: #1E9BA1;





$black100: #333333;
$black200: #2F2F2F;
$black300: #444444;
$black400: #404040;
$black500: #181818;
$black600: #1C1B1B;
$lightseagreen: #2AA4AA;
$lightseagreen100: #209EA4;
$lightseagreen200: #1F9DA3;
$lightseagreen300: #209FA6;
$lightseagreen400: #1E9CA2;
$purple: #A379FF;
$gray: #777777;
$gray200: #C3C3C3;
$gray300: #C4CBD7;
$light100: #EEEEEE;
$light200: #F3F3FB;
$light300: #F4F0E9;
$light400: #DAD2E5;
$success100: #EAFFF1;
$warning: #E8C442;
$danger: #B42C2C;
$danger200: #ED5858;
$danger300: #C75E5E;
$danger400: #FFE7E7;
