.layout-wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    .ps-sidebar-root{
        display: flex;
        flex-direction: column;
        width: 15.75rem;
        height: 100vh;
        background-color: $white;
        &.ps-broken{
            & + .layout-main-wrapper{
                width: 100%;
                margin-left: 0;
            }
        }
        .ps-sidebar-backdrop{
            background-color: transparent;
            display: none;
        }
        .ps-sidebar-container{
            .ps-menu-root{
                height: 100%;
                & > ul{
                    height: 100%;
                    .ps-menuitem-root{
                        padding-bottom: 0.5rem;
                        .ps-menu-button{
                            height: auto;
                            color: $primary;
                            padding: 0.625rem 1.625rem;
                            font-size: 1rem;
                            font-family: $fontGeneralsans500;
                            font-weight: 500;
                            &:hover{
                                background-color: $light200;
                            }
                            &.ps-active{
                                font-family: $fontGeneralsans600;
                                font-weight: 600;
                                .ps-menu-icon{
                                    color: $primary;
                                }
                            }
                            .ps-menu-icon{
                                min-width: 1.5rem;
                                width: 1.5rem;
                                height: 1.5rem;
                                line-height: 1.5rem;
                                color: $bluegray;
                            }
                        }
                        &.logout-menu-item{
                            display: flex;
                            align-items: center;
                            padding-bottom: 0;
                            .ps-menu-button{
                                border: 1px solid $light500;
                                border-radius: 0.375rem;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 0.875rem;
                                .ps-menu-label{
                                    display: inline-flex;
                                    flex-grow: inherit;
                                }
                            }
                        }
                        .ps-submenu-content{
                            padding: 0.625rem 0 0.625rem 4rem;
                            .ps-menuitem-root{
                                padding: 0;
                                border-bottom: 1px solid rgba($color: $primary, $alpha: 0.2);
                                &:last-child{
                                    border-bottom: 0;
                                }
                                .ps-menu-button{
                                    font-size: 0.75rem;
                                    color: rgba($color: $primary, $alpha: 0.6);
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar-main{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .legend-title{
                margin-left: 1.75rem;
                font-size: 0.75rem;
                color: $bluegray;
                font-family: $fontGeneralsans400;
                line-height: 1.5rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            .sidebar-main-top{
                .logo{
                    display: flex;
                    align-items: center;
                    padding: 1rem 1.75rem;
                    min-height: 4rem;
                    .logo-link{
                        display: flex;
                    }
                }
                .scard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0 2rem;
                    margin-top: 1rem;
                }
            }
            .sidebar-main-bottom{
                display: flex;
                flex-direction: column;
                padding: 0 1.75rem 1rem;
                .link{
                    color: $info;
                    text-decoration: underline;
                    font-weight: 500;
                    font-family: $fontGeneralsans500;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    text-align: center;
                    margin-bottom: 1.25rem;
                }
                .version-text{
                    padding-left: 2rem;
                    border-top: 1px solid $light300;
                    padding-top: 1.5rem;
                    color: rgba($color: $black, $alpha: 0.5);
                    font-size: 0.75rem;
                    font-family: $fontGeneralsans500;
                    font-weight: 500;
                    margin-top: 1.5rem;
                    p{
                        margin-bottom: 0;
                    }
                }
            }   
        }
    }
    .layout-main-wrapper{
        display: flex;
        flex-direction: column;
        width: calc(100% - 15.75rem);
        margin-left: 15.75rem;
        background-color: $light;
        .layout-content-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1.5rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .layout-wrapper{
        height: auto;
        .ps-sidebar-root{
            width: 85%;
            height: 100vh;
            &.ps-broken{
                left: -100%;
                &.ps-toggled{
                    left: 0;
                }
            }
        }
    }
}